<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create Video Call</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Create Video Call</h1>-->
<!--<form action="#" th:action="@{/video/create}" method="post">-->
<!--    &lt;!&ndash; Other form fields &ndash;&gt;-->
<!--    <input type="hidden" name="userId" th:value="${loggedInUser.id}">-->
<!--    <input type="submit" value="Create Call">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
