<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video Call Meeting</title>
    <link rel="stylesheet" th:href="@{/meeting_buttons.css}" />
</head>
<body>
<h1>Meeting Page</h1>
<!-- Buttons for Join Now and Present -->
<form id="joinNowForm" action="#" th:action="@{/user/video/join}" method="post">
    <input type="hidden" id="cameraAccessInput" name="cameraAccess" value="">
    <button type="submit" id="joinNowBtn" name="joinNow" value="Join Now">Join Now</button>
</form>

<form id="presentForm" action="#" th:action="@{/user/video/present}" method="post">
    <input type="hidden" id="screenPresentInput" name="screenPresent" value="">
    <button type="submit"  id="presentBtn" name="present" value="Present">Present</button>
</form>

<!-- Include JavaScript code -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const joinNowBtn  = document.getElementById('joinNowBtn');
        const cameraAccessInput = document.getElementById('cameraAccessInput');
        const presentBtn = document.getElementById('presentBtn');
        const screenPresentInput = document.getElementById('screenPresentInput');


        joinNowBtn.addEventListener('click', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            try {
                // Request access to the user's camera
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                cameraAccessInput.value = 'true';
                // If access is granted, log a success message
                console.log('Camera access granted:', stream);
            } catch (error) {
                // Handle errors, such as permission denied
                console.error('Error accessing camera:', error);
                cameraAccessInput.value = 'false';
            }

            // Now you can submit the form programmatically or perform other actions
            joinNowForm.submit();
        });
         presentBtn.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default form submission
            screenPresentInput.value = 'true';
            // Submit the form to present the screen
            presentForm.submit();
        });
    });
</script>
</body>
</html>
